_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.bat
Gemfile.lock
assets/images/char/
assets/images/skin*/
assets/images/prts/
assets/images/relic/
*/__pycache__/*
*.pyc
*/build/*
resources/gamedata/story
npm/node_modules
