.p-map {
    --color: black;
    border-collapse: separate;
    margin: auto;
    //border-spacing:0;
}

.p-map__tile {
    width: 32px;
    height: 32px;
    padding: 0;
    text-align: center;
    color: transparent;
    font-size: small;
    border: 2px solid transparent;
}
/*
.p-map__cell::after {
    display: block;
    width: 100%;
    text-align: center;
    //color: transparent;
    // 0 0 0 red;
}
*/
/*
.p-map__tile--wall {
    border-color: #808080;
    background-color: #c0c0c0;
}

.p-map__tile--road {
    border-color: #c0c0c0;
    background-color: #f2f2f2;
}
*/

.p-map__tile--height-0 {
    background-color: #f2f2f2;
}

.p-map__tile--height-1 {
    background-color: #c0c0c0;
}

.p-map__tile--buildable-1.p-map__tile--height-0,
.p-map__tile--buildable-2.p-map__tile--height-0,
.p-map__tile--buildable-3.p-map__tile--height-0 {
    border: 2px dashed #c0c0c0;
}
.p-map__tile--buildable-1.p-map__tile--height-1,
.p-map__tile--buildable-2.p-map__tile--height-1,
.p-map__tile--buildable-3.p-map__tile--height-1 {
    border: 2px dashed #808080;
}


.p-map__tile--forbidden {
    background-color: #404040;
}

.p-map__tile--start {
    border-color: #f00;
    color: #f00;
}

.p-map__tile--flystart {
    border-color: #f00;
    border-style: dashed;
    color: #f00;
}

.p-map__tile--end {
    border-color: #00f;
    color: #00f;
}

.p-map__tile--hole {
    border-color: #404040;
    border-radius: 5px;
    background-color: white;
}

.p-map:hover .p-map__tile--forbidden { color: #606060; }
.p-map:hover .p-map__tile--height-0 { color: #c0c0c0; }
.p-map:hover .p-map__tile--height-1 { color: #606060; }
.p-map:hover .p-map__tile--start { color: #f00; }
.p-map:hover .p-map__tile--flystart { color: #f00; }
.p-map:hover .p-map__tile--end { color: #00f; }



.p-map__tile--corrosion {
    box-shadow: inset 0 0 3px gold;
}
.p-map__tile--healing {
    box-shadow: inset 0 0 3px green;
}
.p-map__tile--infection {
    box-shadow: inset 0 0 3px red;
}
.p-map__tile--gazebo  {
    box-shadow: inset 0 0 3px purple;
}
.p-map__tile--telin,
.p-map__tile--telout {
    box-shadow: inset 0 0 3px orange;
}