<footer class="l-layout__footer l-footer">
  <div class="l-footer__body">
    <div class="l-footer__logo">
      <a target="_blank" href="https://github.com/xulai1001/akdata">{{- site.title | escape -}}</a>
      <span>© 2020 &nbsp;&nbsp;&nbsp; </span>
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordCode=42011102003942" >
        <img src="http://www.beian.gov.cn/img/ghs.png"/>
        <span style="color:#939393;">鄂公网安备 42011102003942号</span>
      </a>
    </div>
    <div class="l-footer__list">
      {{page.footer}}
    </div>
  </div>
</footer>