<footer class="l-layout__footer l-footer">
  <div class="l-footer__body">
    <div class="l-footer__logo">
      <a href="{{ "/" | relative_url }}">{{- site.title | escape -}}</a>
		  <span>© 2018 </span>
    </div>
    <div class="l-footer__list">
      {{page.footer}}
    </div>
    <div class="js-marker">
      <span class="js-marker__icon js-marker__icon--js" title="JavaScript"></span>
      <span class="js-marker__icon js-marker__icon--es6" title="ES6"></span>
      <span class="js-marker__icon js-marker__icon--module" title="Module"></span>
      <span class="js-marker__icon js-marker__icon--loader" title="Loader"></span>
      <span class="js-marker__icon js-marker__icon--extra" title="Extra"></span>
    </div>
  </div>
</footer>