<div class="c-loading c-loading--step-1">
  <div class="c-loading__step c-loading__step-0">
    <div class="c-loading__icon"><i class="fa fa-ban"></i></div>
    <div class="c-loading__text">JavaScript已禁用。</div>
  </div>
  <div class="c-loading__step c-loading__step-1">
    <div class="c-loading__icon"><i class="fa fa-spinner fa-spin"></i></div>
    <div class="c-loading__text">正在加载页面..</div>
  </div>
  <div class="c-loading__step c-loading__step-2">
    <div class="c-loading__icon"><i class="fa fa-spinner fa-spin"></i></div>
    <div class="c-loading__text">正在加载基础JavaScript..</div>
  </div>
  <div class="c-loading__step c-loading__step-3">
    <div class="c-loading__icon"><i class="fa fa-spinner fa-spin"></i></div>
    <div class="c-loading__text">正在加载额外JavaScript..</div>
  </div>
  <div class="c-loading__step c-loading__step-4">
    <div class="c-loading__icon"><i class="fa fa-spinner fa-spin"></i></div>
    <div class="c-loading__text">正在生成页面内容..</div>
  </div>
  <div class="c-loading__step c-loading__step-9">
    <div class="c-loading__icon"><i class="fa fa-times"></i></div>
    <div class="c-loading__text">生成页面失败。</div>
  </div>
</div>