.o-badge--item {
    width: 120px;
}

.o-badge--count {
    width: 40px;
    text-align: left;
}

.o-badge--char {
    width: 80px;
}

.o-badge--rarity-5 {
    --badge-light: rgb(161,72,5);
    --badge-color: rgb(250,195,95);
}
.o-badge--rarity-4 {
    --badge-light: rgb(250,198,2);
    --badge-color: rgb(46,41,5);
}
.o-badge--rarity-3 {
    --badge-light: rgb(214,197,214);
    --badge-color: rgb(46,33,63);
}
.o-badge--rarity-2 {
    --badge-light: rgb(0,179,252);
    --badge-color: black;
}
.o-badge--rarity-1 {
    --badge-light: rgb(220,229,55);
    --badge-color: black;
}
.o-badge--rarity-0 {
    --badge-light: rgb(160,160,160);
    --badge-color: black;
}