.o-badge {
  background-color: var(--light, #aaa);
  border: 1px solid var(--dark, #aaa);
  color: var(--color, #fff);
  display: inline-block;
  margin: 0 2px 2px;
  padding: 1px;
  text-align: center;
  font-size:small;
  
  &--type {
    border-radius:32px;
    width: 60px;
  }
}