@import "variables";

@import "layout/responsive";
@import "layout/layout";
@import "layout/header";
@import "layout/sidebar";
@import "layout/footer";
@import "layout/main";
@import "layout/typography";

@import "components/tab";

@import "objects/badge";

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

table.table td {
  vertical-align: middle;
  padding: 0.25rem;
}

.p-page__control {
  margin-bottom:1em;
}
.p {
  margin-bottom: 0.5em;
}

.c-infotable {
  /*
  & > tbody > tr > th,
  & > tbody > tr > td:first-child {
    width: 30%;
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
  }
  & > tbody:first-child > tr:first-child td {
    border-top: none;
  }
*/
  &__label {
    font-weight: bold;
    text-align: center;
    padding-right: 1em;
    vertical-align: top !important;
  }
  &__data {
    vertical-align: top !important;
  }
}

.c-loading {
  &__step {
    display: none;
    
    .js-disabled &-0 {
      color: red;
      display: block;
    }
    .js-loading {
      .c-loading__step-1 { display: none; }
      .c-loading__step-2 { display: block; }
    }
    
    .c-loading--step-1 &-1,
    .c-loading--step-2 &-2,
    .c-loading--step-3 &-3,
    .c-loading--step-4 &-4,
    .c-loading--step-9 &-9 {
      display: block;
    }
    &-2,
    &-3 {
      color: blue;
    }
    &-4 {
      color: green;
    }
    
  }
  
  &__icon {
    font-size: 24px;
    display: inline-block;
  }
  &__text {
    display: inline-block;
  }
}
