
$break-small:  768px;
$break-medium: 900px;
$break-large:  1280px;

@media only screen and (max-width: $break-large) {
  .l-layout__spacing {
    display: none;
  }
}

:root {
  --main-width: 80%;
  
  @media only screen and (max-width: $break-large) {
    --main-width: 90%;
  }
  
  @media only screen and (max-width: $break-medium) {
    --main-width: 95%;
  }
  
  @media only screen and (max-width: $break-small) {
    --main-width: 100%;
  }
}